.app_dark_theme {
    --bg-color: rgb(1 39 87);
    --inverted-bg-color: #bbb;
    --primary-color: #0cd937;
    --secondary-color: #1c9633;
    --inverted-primary-color: #1827da;
    --inverted-secondary-color: #032588;

    // skeleton
    --skeleton-shadow: #2d3ade;
    --skeleton-color: #0e31a1;

    // code
    --code-bg: rgb(6 51 110);
}
