.app_light_theme {
    --bg-color: #bbb;
    --inverted-bg-color: rgb(1 39 87);
    --primary-color: #1827da;
    --secondary-color: #032588;
    --inverted-primary-color: #03a920;
    --inverted-secondary-color: #2bf14b;
}
